body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: #48a9e4;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

main {
  padding: 2rem;
  text-align: center;
}

nav {
  background: #f78b0b;
  padding: 0.2rem 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav .current > a {
  color: #000;
}

footer {
  background-color: #292929;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: small;
  padding-top: 5px;
  height: 100px;
  position: absolute;
  bottom: 0;
}
